body {
    background-color: #87d8ec;
}

img {
    width: 185px;
    height: 185px;
}

div.imageWrap {
    width: 200px;
}

.flexbox-container { /*this is the large box that holds the individual boxes*/
    display: flex;   
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 250px;
    margin-right: 250px;

}

.flexbox-item { /*these are the properties of each individual box*/
    background-color: #87d8ec;
    flex:1 0 30%;
    text-align: center;
}

.flexbox-item-alek {
        
}

.flexbox-item-ammon {

}

.flexbox-item-bin {

}

.flexbox-item-eden {

}

.flexbox-item-ray {

}